# Directories #
**/bin/
**/obj/
**/packages/
**/out/

# Tooling #
**/.vs/
**/.vscode/
*.nupkg
*.userprefs
*.usertasks

# Build results #
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]ogs/
*.user
*.suo
*.pdb
*.exe
*.dll
*.cache
*.vsp
*.vspscc
*.vssscc
*.ilk
*.aps
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ext
*.generated.cs
*.exe.config
*.dll.config

# NuGet #
packages/
*.nupkg
*.nuspec

# ReSharper #
*_ReSharper.*/
*ReSharper/
*.resharper

# User-specific files #
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoDevelop/Xamarin Studio #
*.userprefs

# Mac OS X #
.DS_Store

# SQLite #
*.db
*.db-shm
*.db-wal

# Logs #
*.log
*.log.*

# CSV files (if you don't want to track your CSV log files) #
*.csv
